<robot
  name="quadrupedRobot2">

  <link name="base_footprint"/>

  <joint name="base_fixed_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 3.14159"/>
  </joint>

  <link name="base_link">
    <inertial>
      <origin
        xyz="8.45656877856982E-13 -1.68399738598168E-11 0.0117176968060574"
        rpy="0 0 0" />
      <mass
        value="2.05989698154163" />
      <inertia
        ixx="0.0075022270011915" ixy="4.89663475115095E-11"  ixz="-1.24688366618814E-14"
                                 iyy="0.0281943523801687" iyz="-8.54264575751362E-15"
                                                          izz="0.0342588198853169" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.12 0.12 0.14 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="lf_link1">
    <inertial>
      <origin
        xyz="0.00501003870275296 0.00408210449941704 0.0198525035827295"
        rpy="0 0 0" />
      <mass
        value="0.231001021795197" />
      <inertia
        ixx="0.000179438522849556" ixy="4.96066804856112E-05"     ixz="-4.51407342780675E-06"
                    iyy="0.000196684138340245" iyz="4.2409685688208E-06"
                                izz="0.000343039846086294" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lf_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.18 0.18 0.20 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lf_link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lf_1" type="revolute">
    <origin
      xyz="-0.10428 -0.09556 0.02616"
      rpy="1.57 -1.57 -1.57" />
    <parent
      link="base_link" />
    <child
      link="lf_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="lf_link2">
    <inertial>
      <origin
        xyz="-0.0432318000869115 -0.00153974454672559 0.0208727705141127"
        rpy="0 0 0" />
      <mass
        value="0.0747097984755013" />
      <inertia
        ixx="8.01766902645778E-06" ixy="-5.82078270621468E-07"     ixz="-3.43163527429434E-06"
                    iyy="4.97150242444743E-05" iyz="-6.43324061442316E-08"
                                izz="4.9063584650132E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lf_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.10 0.12 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lf_link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lf_2" type="revolute">
    <origin
      xyz="0.0050814 -0.025638 0.01836"
      rpy="1.57 3.14 0" />
    <parent
      link="lf_link1" />
    <child
      link="lf_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="lf_link3">
    <inertial>
      <origin
        xyz="0.0626493929356338 0.00123714349436049 0.00186270432176994"
        rpy="0 0 0" />
      <mass
        value="0.0172870017262757" />
      <inertia
        ixx="8.40378317385814E-07" ixy="-1.45008699253063E-06"     ixz="6.64357847119971E-08"
                    iyy="2.97742444352666E-05" iyz="2.13094014007202E-09"
                                izz="3.01702961954817E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lf_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.85 1.0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lf_link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lf_3" type="revolute">
    <origin
      xyz="-0.10692 -0.0014745 0.011004"
      rpy="0 0 0" />
    <parent
      link="lf_link2" />
    <child
      link="lf_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="lb_link1">
    <inertial>
      <origin
        xyz="0.00507885033090788 0.00421955152357756 -0.0198525035827264"
        rpy="0 0 0" />
      <mass
        value="0.231001021795197" />
      <inertia
        ixx="0.000179438522849556" ixy="4.96066804856112E-05"     ixz="4.51407342780543E-06"
                    iyy="0.000196684138340246" iyz="-4.2409685688193E-06"
                                izz="0.000343039846086294" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lb_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.18 0.18 0.20 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lb_link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lb_1" type="revolute">
    <origin
      xyz="0.10428 -0.09556 0.02616"
      rpy="1.57 -1.57 -1.57" />
    <parent
      link="base_link" />
    <child
      link="lb_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="lb_link2">
    <inertial>
      <origin
        xyz="-0.0416139466851359 -0.000333048305274017 0.0178952983137878"
        rpy="0 0 0" />
      <mass
        value="0.0747097984739762" />
      <inertia
        ixx="8.01766902598955E-06" ixy="-5.82078271727092E-07"     ixz="-3.43163527466861E-06"
                    iyy="4.97150242404806E-05" iyz="-6.43324061446736E-08"
                                izz="4.90635846454148E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lb_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.10 0.12 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lb_link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lb_2" type="revolute">
    <origin
      xyz="0.0051504 -0.0255 -0.01836"
      rpy="1.57 3.14 0" />
    <parent
      link="lb_link1" />
    <child
      link="lb_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="lb_link3">
    <inertial>
      <origin
        xyz="0.0626493853496274 0.00123715198696649 0.00186270267889954"
        rpy="0 0 0" />
      <mass
        value="0.0172870048509733" />
      <inertia
        ixx="8.40378141289029E-07" ixy="-1.45008436719344E-06"     ixz="6.64350755238883E-08"
                    iyy="2.97742467360516E-05" iyz="2.13105916401818E-09"
                                izz="3.01702982845448E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lb_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.85 1.0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/lb_link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lb_3" type="revolute">
    <origin
      xyz="-0.10529 -0.00025864 0.0080044"
      rpy="0 0 0" />
    <parent
      link="lb_link2" />
    <child
      link="lb_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="rf_link1">
    <inertial>
      <origin
        xyz="0.00507885033090888 0.00421955152357933 -0.0198525035827312"
        rpy="0 0 0" />
      <mass
        value="0.231001021795197" />
      <inertia
        ixx="0.000179438522849556" ixy="4.96066804856113E-05"     ixz="4.5140734278063E-06"
                    iyy="0.000196684138340246" iyz="-4.2409685688201E-06"
                                izz="0.000343039846086294" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rf_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.18 0.18 0.20 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rf_link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rf_1" type="revolute">
    <origin
      xyz="-0.10428 0.09556 0.02616"
      rpy="-1.57 -1.57 -1.57" />
    <parent
      link="base_link" />
    <child
      link="rf_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="rf_link2">
    <inertial>
      <origin
        xyz="-0.0431585801137034 -0.000295052338860291 0.0178952983136061"
        rpy="0 0 0" />
      <mass
        value="0.0747097984676169" />
      <inertia
        ixx="8.01766902715031E-06" ixy="-5.82078276227399E-07"     ixz="-3.43163527756778E-06"
                    iyy="4.97150242282067E-05" iyz="-6.43324072900916E-08"
                                izz="4.90635846293185E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rf_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.10 0.12 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rf_link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rf_2" type="revolute">
    <origin
      xyz="0.0051504 -0.0255 -0.01836"
      rpy="-1.57 0 3.14" />
    <parent
      link="rf_link1" />
    <child
      link="rf_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="rf_link3">
    <inertial>
      <origin
        xyz="0.0626493930450654 -0.00123714329813096 0.00177202883320604"
        rpy="0 0 0" />
      <mass
        value="0.0172870015239976" />
      <inertia
        ixx="8.40378322873739E-07" ixy="1.45008705362641E-06"     ixz="-6.64356975444121E-08"
                    iyy="2.97742443656179E-05" iyz="2.1309154202892E-09"
                                izz="3.01702961267312E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rf_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.85 1.0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rf_link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rf_3" type="revolute">
    <origin
      xyz="-0.10685 -0.00022035 0.0080044"
      rpy="0 0 0" />
    <parent
      link="rf_link2" />
    <child
      link="rf_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="rb_link1">
    <inertial>
      <origin
        xyz="0.00507885033090941 0.00421955152357834 0.0198525035827297"
        rpy="0 0 0" />
      <mass
        value="0.231001021795197" />
      <inertia
        ixx="0.000179438522849555" ixy="4.96066804856111E-05"     ixz="-4.51407342780584E-06"
                    iyy="0.000196684138340245" iyz="4.24096856882022E-06"
                                izz="0.000343039846086293" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rb_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.18 0.18 0.20 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rb_link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rb_1" type="revolute">
    <origin
      xyz="0.10428 0.09556 0.02616"
      rpy="-1.57 -1.57 -1.57" />
    <parent
      link="base_link" />
    <child
      link="rb_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="rb_link2">
    <inertial>
      <origin
        xyz="-0.0416340858571974 -0.00161940697315335 0.0179712574245586"
        rpy="0 0 0" />
      <mass
        value="0.0747097984689319" />
      <inertia
        ixx="8.01766902714084E-06" ixy="-5.82078276040493E-07"     ixz="-3.43163527765578E-06"
                    iyy="4.9715024230005E-05" iyz="-6.43324072654809E-08"
                                izz="4.90635846312871E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rb_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.10 0.12 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rb_link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rb_2" type="revolute">
    <origin
      xyz="0.0051504 -0.0255 0.01836"
      rpy="-1.57 0 3.14" />
    <parent
      link="rb_link1" />
    <child
      link="rb_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

  <link name="rb_link3">
    <inertial>
      <origin
        xyz="0.0624250622697846 -0.00534201210557569 0.00177202742796156"
        rpy="0 0 0" />
      <mass
        value="0.0172870064077148" />
      <inertia
        ixx="1.15420238672491E-06" ixy="3.3293254868038E-06"     ixz="-6.61532365676745E-08"
                    iyy="2.9460423106142E-05" iyz="6.47954057010395E-09"
                                izz="3.01702988985926E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rb_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.85 1.0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/urdf_new/quadrupedRobot2/meshes/rb_link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rb_3" type="revolute">
    <origin
      xyz="-0.10531 -0.0015547 0.0080044"
      rpy="0 0 0" />
    <parent
      link="rb_link2" />
    <child
      link="rb_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>

    <!-- ros2_control hardware interface -->
  <ros2_control name="GazeboSystem" type="system">
      <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
      <joint name="joint_lf_1">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lf_2">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lf_3">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lb_1">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lb_2">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lb_3">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rf_1">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rf_2">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rf_3">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rb_1">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rb_2">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rb_3">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
  </ros2_control>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
          <parameters>$(find simulation)/config/ros2_gazebo_controller.yaml</parameters>
      </plugin>
  </gazebo>

  <!-- IMU sensor on base_link -->
  <gazebo reference="base_link">
      <sensor name="imu_sensor" type="imu">
          <always_on>true</always_on>
          <update_rate>100</update_rate>
          <imu>
              <angular_velocity>
                  <x><noise type="gaussian"><mean>0.0</mean><stddev>0.002</stddev></noise></x>
                  <y><noise type="gaussian"><mean>0.0</mean><stddev>0.002</stddev></noise></y>
                  <z><noise type="gaussian"><mean>0.0</mean><stddev>0.002</stddev></noise></z>
              </angular_velocity>
              <linear_acceleration>
                  <x><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></x>
                  <y><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></y>
                  <z><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></z>
              </linear_acceleration>
          </imu>
          <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
              <ros>
                  <remapping>~/out:=/imu/data</remapping>
              </ros>
              <initial_orientation_as_reference>false</initial_orientation_as_reference>
          </plugin>
      </sensor>
  </gazebo>

  <!-- Gazebo material colors -->
  <gazebo reference="base_link">
      <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="lf_link1">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="lf_link2">
      <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="lb_link1">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="lb_link2">
      <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="rf_link1">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="rf_link2">
      <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="rb_link1">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="rb_link2">
      <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- Foot contact and friction -->
  <gazebo reference="lf_link3">
      <material>Gazebo/Turquoise</material>
      <mu1>1000.0</mu1>
      <mu2>1000.0</mu2>
      <kp>1000000.0</kp>
      <kd>1000.0</kd>
      <slip1>0.0</slip1>
      <slip2>0.0</slip2>
      <minDepth>0.005</minDepth>
      <maxVel>0.0</maxVel>
      <torsional>
            <ode>
                <coefficient>1000</coefficient>
                <slip>0</slip>
            </ode>
            <coefficient>1.0</coefficient>
            <surface_radius>0.01</surface_radius>   
            <path_radius>100</path_radius>         
            <use_patch_radius>true</use_patch_radius>
      </torsional>
  </gazebo>
  <gazebo reference="lb_link3">
      <material>Gazebo/Turquoise</material>
      <mu1>1000.0</mu1>
      <mu2>1000.0</mu2>
      <kp>1000000.0</kp>
      <kd>1000.0</kd>
      <slip1>0.0</slip1>
      <slip2>0.0</slip2>
      <minDepth>0.005</minDepth>
      <maxVel>0.0</maxVel>
      <torsional>
            <ode>
                <coefficient>1000</coefficient>
                <slip>0</slip>
            </ode>
            <coefficient>1.0</coefficient>
            <surface_radius>0.01</surface_radius>   
            <path_radius>100</path_radius>         
            <use_patch_radius>true</use_patch_radius>
      </torsional>
  </gazebo>
  <gazebo reference="rf_link3">
      <material>Gazebo/Turquoise</material>
      <mu1>1000.0</mu1>
      <mu2>1000.0</mu2>
      <kp>1000000.0</kp>
      <kd>1000.0</kd>
      <slip1>0.0</slip1>
      <slip2>0.0</slip2>
      <minDepth>0.005</minDepth>
      <maxVel>0.0</maxVel>
      <torsional>
            <ode>
                <coefficient>1000</coefficient>
                <slip>0</slip>
            </ode>
            <coefficient>1.0</coefficient>
            <surface_radius>0.01</surface_radius>   
            <path_radius>100</path_radius>         
            <use_patch_radius>true</use_patch_radius>
      </torsional>
  </gazebo>
  <gazebo reference="rb_link3">
      <material>Gazebo/Turquoise</material>
      <mu1>1000.0</mu1>
      <mu2>1000.0</mu2>
      <kp>1000000.0</kp>
      <kd>1000.0</kd>
      <slip1>0.0</slip1>
      <slip2>0.0</slip2>
      <minDepth>0.005</minDepth>
      <maxVel>0.0</maxVel>
      <torsional>
            <ode>
                <coefficient>1000</coefficient>
                <slip>0</slip>
            </ode>
            <coefficient>1.0</coefficient>
            <surface_radius>0.01</surface_radius>   
            <path_radius>100</path_radius>         
            <use_patch_radius>true</use_patch_radius>
      </torsional>
  </gazebo>
</robot>