<robot
  name="quadruped_robot">

  <link name="base_footprint"/>

  <joint name="base_fixed_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 3.14159"/>
  </joint>

  <link name="base_link">
    <inertial>
      <origin
        xyz="8.45656877856982E-13 -1.68399738598168E-11 0.0117176968060574"
        rpy="0 0 0" />
      <mass
        value="1.0" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.12 0.12 0.14 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="lf_link1">
    <inertial>
      <origin
        xyz="0.00501003870275296 0.00408210449941704 0.0198525035827295"
        rpy="0 0 0" />
      <mass
        value="0.02" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lf_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.18 0.18 0.20 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lf_link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lf_1" type="revolute">
    <origin
      xyz="-0.10428 -0.09556 0.02616"
      rpy="1.57 -1.57 -1.57" />
    <parent
      link="base_link" />
    <child
      link="lf_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="lf_link2">
    <inertial>
      <origin
        xyz="-0.0432318000869115 -0.00153974454672559 0.0208727705141127"
        rpy="0 0 0" />
      <mass
        value="0.09" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lf_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.10 0.12 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lf_link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lf_2" type="revolute">
    <origin
      xyz="0.0050814 -0.025638 0.01836"
      rpy="1.57 3.14 0" />
    <parent
      link="lf_link1" />
    <child
      link="lf_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="lf_link3">
    <inertial>
      <origin
        xyz="0.0626493929356338 0.00123714349436049 0.00186270432176994"
        rpy="0 0 0" />
      <mass
        value="0.02" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lf_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.85 1.0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lf_link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lf_3" type="revolute">
    <origin
      xyz="-0.10692 -0.0014745 0.011004"
      rpy="0 0 0" />
    <parent
      link="lf_link2" />
    <child
      link="lf_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="lb_link1">
    <inertial>
      <origin
        xyz="0.00507885033090788 0.00421955152357756 -0.0198525035827264"
        rpy="0 0 0" />
      <mass
        value="0.02" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lb_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.18 0.18 0.20 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lb_link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lb_1" type="revolute">
    <origin
      xyz="0.10428 -0.09556 0.02616"
      rpy="1.57 -1.57 -1.57" />
    <parent
      link="base_link" />
    <child
      link="lb_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="lb_link2">
    <inertial>
      <origin
        xyz="-0.0416139466851359 -0.000333048305274017 0.0178952983137878"
        rpy="0 0 0" />
      <mass
        value="0.09" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lb_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.10 0.12 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lb_link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lb_2" type="revolute">
    <origin
      xyz="0.0051504 -0.0255 -0.01836"
      rpy="1.57 3.14 0" />
    <parent
      link="lb_link1" />
    <child
      link="lb_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="lb_link3">
    <inertial>
      <origin
        xyz="0.0626493853496274 0.00123715198696649 0.00186270267889954"
        rpy="0 0 0" />
      <mass
        value="0.02" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lb_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.85 1.0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/lb_link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_lb_3" type="revolute">
    <origin
      xyz="-0.10529 -0.00025864 0.0080044"
      rpy="0 0 0" />
    <parent
      link="lb_link2" />
    <child
      link="lb_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="rf_link1">
    <inertial>
      <origin
        xyz="0.00507885033090888 0.00421955152357933 -0.0198525035827312"
        rpy="0 0 0" />
      <mass
        value="0.02" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rf_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.18 0.18 0.20 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rf_link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rf_1" type="revolute">
    <origin
      xyz="-0.10428 0.09556 0.02616"
      rpy="-1.57 -1.57 -1.57" />
    <parent
      link="base_link" />
    <child
      link="rf_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="rf_link2">
    <inertial>
      <origin
        xyz="-0.0431585801137034 -0.000295052338860291 0.0178952983136061"
        rpy="0 0 0" />
      <mass
        value="0.09" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rf_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.10 0.12 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rf_link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rf_2" type="revolute">
    <origin
      xyz="0.0051504 -0.0255 -0.01836"
      rpy="-1.57 0 3.14" />
    <parent
      link="rf_link1" />
    <child
      link="rf_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="rf_link3">
    <inertial>
      <origin
        xyz="0.0626493930450654 -0.00123714329813096 0.00177202883320604"
        rpy="0 0 0" />
      <mass
        value="0.02" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rf_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.85 1.0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rf_link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rf_3" type="revolute">
    <origin
      xyz="-0.10685 -0.00022035 0.0080044"
      rpy="0 0 0" />
    <parent
      link="rf_link2" />
    <child
      link="rf_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="rb_link1">
    <inertial>
      <origin
        xyz="0.00507885033090941 0.00421955152357834 0.0198525035827297"
        rpy="0 0 0" />
      <mass
        value="0.02" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rb_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.18 0.18 0.20 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rb_link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rb_1" type="revolute">
    <origin
      xyz="0.10428 0.09556 0.02616"
      rpy="-1.57 -1.57 -1.57" />
    <parent
      link="base_link" />
    <child
      link="rb_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="rb_link2">
    <inertial>
      <origin
        xyz="-0.0416340858571974 -0.00161940697315335 0.0179712574245586"
        rpy="0 0 0" />
      <mass
        value="0.09" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rb_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10 0.10 0.12 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rb_link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rb_2" type="revolute">
    <origin
      xyz="0.0051504 -0.0255 0.01836"
      rpy="-1.57 0 3.14" />
    <parent
      link="rb_link1" />
    <child
      link="rb_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

  <link name="rb_link3">
    <inertial>
      <origin
        xyz="0.0624250622697846 -0.00534201210557569 0.00177202742796156"
        rpy="0 0 0" />
      <mass
        value="0.02" />
      <inertia
        ixx="0.001" ixy="0"     ixz="0"
                    iyy="0.001" iyz="0"
                                izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rb_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.85 1.0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simulation/meshes/rb_link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_rb_3" type="revolute">
    <origin
      xyz="-0.10531 -0.0015547 0.0080044"
      rpy="0 0 0" />
    <parent
      link="rb_link2" />
    <child
      link="rb_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="30"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.1" />
  </joint>

    <!-- ros2_control hardware interface -->
  <ros2_control name="GazeboSystem" type="system">
      <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
      <joint name="joint_lf_1">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lf_2">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lf_3">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lb_1">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lb_2">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_lb_3">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rf_1">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rf_2">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rf_3">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rb_1">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rb_2">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
      <joint name="joint_rb_3">
          <command_interface name="effort"/>
          <command_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
      </joint>
  </ros2_control>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
          <parameters>$(find simulation)/config/ros2_gazebo_controller.yaml</parameters>
      </plugin>
  </gazebo>

  <!-- IMU sensor on base_link -->
  <gazebo reference="base_link">
      <sensor name="imu_sensor" type="imu">
          <always_on>true</always_on>
          <update_rate>100</update_rate>
          <imu>
              <angular_velocity>
                  <x><noise type="gaussian"><mean>0.0</mean><stddev>0.002</stddev></noise></x>
                  <y><noise type="gaussian"><mean>0.0</mean><stddev>0.002</stddev></noise></y>
                  <z><noise type="gaussian"><mean>0.0</mean><stddev>0.002</stddev></noise></z>
              </angular_velocity>
              <linear_acceleration>
                  <x><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></x>
                  <y><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></y>
                  <z><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></z>
              </linear_acceleration>
          </imu>
          <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
              <ros>
                  <remapping>~/out:=/imu/data</remapping>
              </ros>
              <initial_orientation_as_reference>false</initial_orientation_as_reference>
          </plugin>
      </sensor>
  </gazebo>

  <!-- Gazebo material colors -->
  <gazebo reference="base_link">
      <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="lf_link1">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="lf_link2">
      <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="lb_link1">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="lb_link2">
      <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="rf_link1">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="rf_link2">
      <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="rb_link1">
      <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="rb_link2">
      <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- Foot contact and friction -->
  <gazebo reference="lf_link3">
      <material>Gazebo/Turquoise</material>
      <mu1>1000.0</mu1>
      <mu2>1000.0</mu2>
      <kp>1000000.0</kp>
      <kd>1000.0</kd>
      <slip1>0.0</slip1>
      <slip2>0.0</slip2>
      <minDepth>0.005</minDepth>
      <maxVel>0.0</maxVel>
      <torsional>
            <ode>
                <coefficient>1000</coefficient>
                <slip>0</slip>
            </ode>
            <coefficient>1.0</coefficient>
            <surface_radius>0.01</surface_radius>   
            <path_radius>100</path_radius>         
            <use_patch_radius>true</use_patch_radius>
      </torsional>
  </gazebo>
  <gazebo reference="lb_link3">
      <material>Gazebo/Turquoise</material>
      <mu1>1000.0</mu1>
      <mu2>1000.0</mu2>
      <kp>1000000.0</kp>
      <kd>1000.0</kd>
      <slip1>0.0</slip1>
      <slip2>0.0</slip2>
      <minDepth>0.005</minDepth>
      <maxVel>0.0</maxVel>
      <torsional>
            <ode>
                <coefficient>1000</coefficient>
                <slip>0</slip>
            </ode>
            <coefficient>1.0</coefficient>
            <surface_radius>0.01</surface_radius>   
            <path_radius>100</path_radius>         
            <use_patch_radius>true</use_patch_radius>
      </torsional>
  </gazebo>
  <gazebo reference="rf_link3">
      <material>Gazebo/Turquoise</material>
      <mu1>1000.0</mu1>
      <mu2>1000.0</mu2>
      <kp>1000000.0</kp>
      <kd>1000.0</kd>
      <slip1>0.0</slip1>
      <slip2>0.0</slip2>
      <minDepth>0.005</minDepth>
      <maxVel>0.0</maxVel>
      <torsional>
            <ode>
                <coefficient>1000</coefficient>
                <slip>0</slip>
            </ode>
            <coefficient>1.0</coefficient>
            <surface_radius>0.01</surface_radius>   
            <path_radius>100</path_radius>         
            <use_patch_radius>true</use_patch_radius>
      </torsional>
  </gazebo>
  <gazebo reference="rb_link3">
      <material>Gazebo/Turquoise</material>
      <mu1>1000.0</mu1>
      <mu2>1000.0</mu2>
      <kp>1000000.0</kp>
      <kd>1000.0</kd>
      <slip1>0.0</slip1>
      <slip2>0.0</slip2>
      <minDepth>0.005</minDepth>
      <maxVel>0.0</maxVel>
      <torsional>
            <ode>
                <coefficient>1000</coefficient>
                <slip>0</slip>
            </ode>
            <coefficient>1.0</coefficient>
            <surface_radius>0.01</surface_radius>   
            <path_radius>100</path_radius>         
            <use_patch_radius>true</use_patch_radius>
      </torsional>
  </gazebo>
</robot>