<?xml version="1.0"?>
<robot name="3dof_leg">

    <link name="world_link"/>

    <joint name="joint1" type="revolute">        
        <parent link    ="world_link"/>
        <child  link    ="link1"/>
        <origin xyz     ="0  0     0.5 "
                rpy     ="0 -1.57 -3.14"/> 
        <axis   xyz     ="0  0     1   "/>     
        <limit  lower   ="-1.57" 
                upper   =" 1.57" 
                effort  ="   10" 
                velocity="    1"/>
    </joint>

    <link name="link1">
        <visual>
            <origin xyz="0 -0.023 0"/>
            <geometry>
                <box size="0.01 0.046 0.01"/> 
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
    </link>

    <joint name="joint2" type="revolute">
        <parent link    ="link1"/>
        <child  link    ="link2"/>
        <origin xyz     ="0    -0.046    0"
                rpy     ="1.57  3.14     0"/>
        <axis   xyz     ="0     0        1"/>
        <limit  lower   ="-6.28" 
                upper   ="6.28" 
                effort  ="  10" 
                velocity="   1"/>
    </joint>

    <link name="link2">
        <visual>
            <origin xyz="-0.05315 0 0"/>
            <geometry>
                <box size="0.1063 0.01 0.01"/>
            </geometry>
            <material name="green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
    </link>

    <joint name="joint3" type="revolute">
        <parent link    ="link2"/>
        <child  link    ="link3"/>
        <origin xyz     ="-0.1063 0 0"
                rpy     =" 0      0 0"/>
        <axis   xyz     =" 0      0 1"/>
        <limit  lower   ="-6.28" 
                upper   ="6.28"
                effort  ="  10" 
                velocity="   1"/>
    </joint>

    <link name="link3">
        <visual>
            <origin xyz="0.052015 0 0"/>
            <geometry>
                <box size="0.10403 0.01 0.01"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
    </link>
</robot>